.env
**/config.json
**/postgres_data
**/pgadmin_data
**/mysql_data
**/logs
**/grafana_data
.dockerignore
**/__pycache__
**/collector
**/checkpoint
**/kaggle.json
**/kaggle
**/.vscode
**/mysql.session.sql